{
  "presets": [
    [
      "env",
      {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "stage-2"
  ]
}
